
body{
    font-size: xx-large;
    margin: 0;
   
}
html{
    text-align: center;
    font-family: sans-serif;
}
main{
    max-width: 800px;
    margin: 0 auto;
}
#bilder{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px;
    }
 #bilder img {
        max-width: 200px;
    }
#gespeicherteBilder{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 40px;
    }
#gespeicherteBilder img{
        max-width:  200px;
    }

#message {
text-align: left;
color:green;
font-size: small;
}
#messageerror{
text-align: left;
color:red;
font-size: small;
}

    
    
  


    

